.f83j{
  display: flex;
}

.t-pd{
 padding: 1% 2%;
 margin-top: 25px;
 background: #f2f2f2;

}

.ke3{
 padding: 1% 2%;
 margin-top: 25px;
 background: #f2f2f2;
}

.m84b{
 padding: 15px;
 background: #fff;
 border-radius: 8px;
 margin-top: 25px;
}

.mjg4{
  width: 100%;
}
