<div ngClass="m84b">

  <div ngClass="x29m">
    <div ngClass='x02m'>
      <p>{{items}}</p>
    </div>
    <div ngClass="nz7h3">

      <div ngClass='a02k' *ngFor="let iteps of itemd">
        <div ngClass="i02n">
          <a [routerLink]="['/']" routerLinkActive="router-link-active">
            <img src='{{iteps.imag}}' />

          </a>
        </div>
        <div ngClass="m2un">
          <div ngClass='nme-pro'>
            <a [routerLink]="['/']" routerLinkActive="router-link-active">Lorem jacker for men to summer</a>
          </div>
          <div ngClass="nme-pr">
            <a [routerLink]="['/']" routerLinkActive="router-link-active">{{iteps.price}}</a>
          </div>
        </div>
      </div>


    </div>
    <div ngClass="ms94">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">more</a>
    </div>
  </div>


</div>
