<div ngClass='m3th'>
  <div ngClass="m37h">
      <div ngClass="pehance"><p>JOIN TO OUR NEWS</p></div>
      <div ngClass="m3n"><p>FOLLOW THE SPECIAL OFFERS THAT SUIT YOU VIA E-MAIL</p></div>
      <div ngClass="fo-d_m">
          <form>
              <div ngClass="sub-3m">
                  <input type="email" placeholder='Your email...'
                  ngClass='mf390' formControlName='email' name="email" />
              </div>
              <div ngClass="bu-su">
                  <input type="submit" value="subcribe" ngClass='jm4fu' />
              </div>
          </form>
      </div>
  </div>
</div>
