<header ngClass='header'>
  <div class="container">
    <div class="row">
      <div class="jd39">
        <a href="/admin/dashboard" class="d312">ADMIN ROMA</a>
      </div>

      <div class="right-header">
        <div class="messwage">
          <fa-icon [icon]="faMessage"></fa-icon>
        </div>
        <div class="notf">
          <fa-icon [icon]="faNotifiction"></fa-icon>
        </div>
        <div class="log">|</div>
        <div class="logout">
          <a href="/loginadmin" (click)="logout()">Log out</a>
        </div>

      </div>
    </div>
  </div>


</header>
