<div class="dis-nav">
  <div class="div-adslide">
    <div ngClass="m38nd">
      <div ngClass="md8vb">
        <div ngClass="fo-c">
          <form method="post" autocomplete="off" enctype="multipart/form-data" >
            <div ngClass="to-text">
              <p>ADD SLIDES</p>
            </div>
            <div ngClass="inp-3">
              <div ngClass="inp-33">
                <input type="text" placeholder='Name slide' name='name'  autocomplete="off" formControlName="Name" />
              </div>
            </div>
            <div ngClass="inp-3">
              <div ngClass="inp-33">
                <input type="text" placeholder='slug' name='slug'  autocomplete="off" formControlName="Slug"/>
              </div>
            </div>
            <div ngClass="inp-3">
              <div ngClass="inp-33">
                <input type="file" name="Photo" formControlName="Photo"  />
              </div>
            </div>
            <div ngClass="inp-3">
              <div ngClass="inp-33">
                <input type="submit" ngClass="d3f2i0"  value='UPLOAD'/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>


</div>
