.sx1{
  padding: 5% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.xm8{
  width: 50%;
  border: 1px solid #f3f3f3;
  background: #fff;
}

.bn2{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  padding: 15px;
}

.t-self p{
  font-size: 20px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  padding: 8px 0;
}

.t-self{
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
}

.bn2 form{
  width: 100%;
}

.inp-3{
  padding: 15px 0;

}
.inp-33{
  border: 1px solid #f3f3f3;
}

.inp-33 input{
  border: none;
  padding: 7px;
  width: 100%;

}

input{
  outline: none;
}

.inp-33 input[type=button]{
  background: #ec994c;
  color: #fff;
  border: 1px solid #ec994c;
  transition: 0.3s;

}
.inp-33 input[type=button]:hover{
  background: #fff;
  color: #ec994c;
}

.inp-33 input[type=submit]{
  background: #ec994c;
  color: #fff;
  border: 1px solid #ec994c;
  transition: 0.3s;

}
.inp-33 input[type=submit]:hover{
  background: #fff;
  color: #ec994c;
}

.d3f2i0{
  cursor: pointer;
}
