<div ngClass="fo-2 def">
  <div ngClass='m98hss'>

        <div ngClass='k3d0-9' *ngFor="let se of service" >

          <div ngClass="m387n" >
            <div ngClass="dro" >
              <fa-icon [icon]='se.icon'></fa-icon>
            </div>
            <div ngClass="tex-3" >
              {{se.text}}
            </div>
            <div ngClass="decst" id='t' [innerHTML]="se.description">
              {{se.description}}
            </div>
          </div>
          <div ngClass='{{se.display}}' id='m7n'></div>

        </div>

  </div>


</div>
<div ngClass="fo-cent fo-2">
  &copy; 2022 ROMA. All Rights Reserved.

</div>
