<div ngClass="m38nd">
  <div ngClass="md8vb">
    <div ngClass="fo-c">
      <form autocomplete="off" [formGroup]="romaForm" (ngSubmit)="onSubmit(romaForm)">
        <div ngClass="to-text">
          <p>LOGIN</p>
        </div>
        <div ngClass="inp-3">
          <div ngClass="inp-33">
            <input type="email" placeholder='Your Email' name='Email' formControlName="Email" autocomplete="off" />
          </div>
        </div>
        <div ngClass="inp-3">
          <div ngClass="inp-33">
            <input type="password" placeholder='Password' name='Password' formControlName="Password" autocomplete="off" />

          </div>
        </div>
        <div ngClass="inp-3">
          <div ngClass="inp-33">
            <input type="submit" ngClass="d3f2i0"  value='Sign In'/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
